body {
  font-family: "Open Sans", sans-serif;
  background-image: url("https://images.pexels.com/photos/985287/pexels-photo-985287.jpeg?cs=srgb&dl=assorted-colored-wooden-planks-985287.jpg&fm=jpg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */ }

h1, h2, h3 {
  font-family: "Luckiest Guy"; }

h2 {
  color: #3046C5; }

h3 {
  color: #f08a17; }

header h2 {
  color: #f7a975; }

footer {
  background-image: linear-gradient(#f7a975, white);
  padding: 20px 0; }

.jumbotron {
  padding: 30px;
  background-image: linear-gradient(to right, #3785dd, #3046C5, #d15706);
  color: white;
  margin: 0; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #f08a17; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #3785dd; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0; }
