$color-primary: #3046C5;
$color-secondary: #3785dd;
$color-pale: rgb(247, 169, 117);
$color-mid: rgb(240, 138, 23);
$color-dark: #d15706;
$color-transparent-black: rgba(0, 0, 0, 0.5);

$body-font: "Open Sans", sans-serif;
$header-font: "Luckiest Guy";

body {
    font-family: "Open Sans", sans-serif;
//    background-color: lightgray;
    background-image: url("https://images.pexels.com/photos/985287/pexels-photo-985287.jpeg?cs=srgb&dl=assorted-colored-wooden-planks-985287.jpg&fm=jpg");
//    height: 2000px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

h1, h2, h3 {
    font-family: "Luckiest Guy";
}

h2 {
    color: $color-primary;
}

h3 {
    color: $color-mid;
}

header {
    h2 {
        color: $color-pale;
    }
}

footer {
    background-image: linear-gradient($color-pale, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-dark); 
    color: white;
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: $color-mid;
}

.carousel-caption {
    background-color: $color-transparent-black;
}

.carousel {
    border: solid $color-secondary;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
}