body {
  font-family: "Open Sans", sans-serif;
  background-color: lightgray; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

h2 {
  color: #3046C5; }

h3 {
  color: #f08a17; }

header h2 {
  color: #f7a975; }

footer {
  background-image: linear-gradient(#f7a975, white);
  padding: 20px 0; }

.jumbotron {
  padding: 30px;
  background-image: linear-gradient(to right, #3785dd, #3046C5, #d15706);
  color: white; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #f08a17; }

.jumbotron {
  margin: 0; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #3785dd; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0; }
